コーディングルール

docstringはreStructuredTextスタイルを使用。

example.

```python
def func(arg1, arg2):
    """概要
    
    詳細説明
    
    :param int arg1: 引数(arg1)の説明
    :param arg2: 引数(arg2)の説明
    :type arg2: 引数(arg2)の型
    :return: 戻り値の説明
    :rtype: 戻り値の型
    :raises 例外の名前: 例外の定義
    """
    value = arg1 + arg2
    return value
```

ファイルに差分を適用する際は最新状態を取得すること。